.emojify {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-image: url(image_path('emoji-sprite.png'));
    background-repeat:no-repeat;
}
.bowtie { background-position: -5 0; }
.smile { background-position: -37 0; }
.laughing { background-position: -69 0; }
.blush { background-position: -101 0; }
.smiley { background-position: -133 0; }
.relaxed { background-position: -165 0; }
.smirk { background-position: -197 0; }
.heart_eyes { background-position: -229 0; }
.kissing_heart { background-position: -261 0; }
.kissing_closed_eyes { background-position: -293 0; }
.flushed { background-position: -325 0; }
.relieved { background-position: -357 0; }
.satisfied { background-position: -389 0; }
.grin { background-position: -421 0; }
.wink { background-position: -453 0; }
.stuck_out_tongue_winking_eye { background-position: -485 0; }
.stuck_out_tongue_closed_eyes { background-position: -517 0; }
.grinning { background-position: -549 0; }
.kissing { background-position: -581 0; }
.kissing_smiling_eyes { background-position: -613 0; }
.stuck_out_tongue { background-position: -645 0; }
.sleeping { background-position: -677 0; }
.worried { background-position: -709 0; }
.frowning { background-position: -741 0; }
.anguished { background-position: -773 0; }
.open_mouth { background-position: -805 0; }
.grimacing { background-position: -837 0; }
.confused { background-position: -869 0; }
.hushed { background-position: -901 0; }
.expressionless { background-position: -933 0; }
.unamused { background-position: -965 0; }
.sweat_smile { background-position: -997 0; }
.sweat { background-position: -1029 0; }
.disappointed_relieved { background-position: -1061 0; }
.weary { background-position: -1093 0; }
.pensive { background-position: -1125 0; }
.disappointed { background-position: -1157 0; }
.confounded { background-position: -1189 0; }
.fearful { background-position: -1221 0; }
.cold_sweat { background-position: -1253 0; }
.persevere { background-position: -1285 0; }
.cry { background-position: -1317 0; }
.sob { background-position: -1349 0; }
.joy { background-position: -1381 0; }
.astonished { background-position: -1413 0; }
.scream { background-position: -1445 0; }
.neckbeard { background-position: -1477 0; }
.tired_face { background-position: -1509 0; }
.angry { background-position: -1541 0; }
.rage { background-position: -1573 0; }
.triumph { background-position: -1605 0; }
.sleepy { background-position: -1637 0; }
.yum { background-position: -1669 0; }
.mask { background-position: -1701 0; }
.sunglasses { background-position: -1733 0; }
.dizzy_face { background-position: -1765 0; }
.imp { background-position: -1797 0; }
.smiling_imp { background-position: -1829 0; }
.neutral_face { background-position: -1861 0; }
.no_mouth { background-position: -1893 0; }
.innocent { background-position: -1925 0; }
.alien { background-position: -1957 0; }
.yellow_heart { background-position: -1989 0; }
.blue_heart { background-position: -2021 0; }
.purple_heart { background-position: -2053 0; }
.heart { background-position: -2085 0; }
.green_heart { background-position: -2117 0; }
.broken_heart { background-position: -2149 0; }
.heartbeat { background-position: -2181 0; }
.heartpulse { background-position: -2213 0; }
.two_hearts { background-position: -2245 0; }
.revolving_hearts { background-position: -2277 0; }
.cupid { background-position: -2309 0; }
.sparkling_heart { background-position: -2341 0; }
.sparkles { background-position: -2373 0; }
.star { background-position: -2405 0; }
.star2 { background-position: -2437 0; }
.dizzy { background-position: -2469 0; }
.boom { background-position: -2501 0; }
.collision { background-position: -2533 0; }
.anger { background-position: -2565 0; }
.exclamation { background-position: -2597 0; }
.question { background-position: -2629 0; }
.grey_exclamation { background-position: -2661 0; }
.grey_question { background-position: -2693 0; }
.zzz { background-position: -2725 0; }
.dash { background-position: -2757 0; }
.sweat_drops { background-position: -2789 0; }
.notes { background-position: -2821 0; }
.musical_note { background-position: -2853 0; }
.fire { background-position: -2885 0; }
.hankey { background-position: -2917 0; }
.poop { background-position: -2949 0; }
.shit { background-position: -2981 0; }
.+1 { background-position: -3013 0; }
.thumbsup { background-position: -3045 0; }
.-1 { background-position: -3077 0; }
.thumbsdown { background-position: -3109 0; }
.ok_hand { background-position: -3141 0; }
.punch { background-position: -3173 0; }
.facepunch { background-position: -3205 0; }
.fist { background-position: -3237 0; }
.v { background-position: -3269 0; }
.wave { background-position: -3301 0; }
.hand { background-position: -3333 0; }
.raised_hand { background-position: -3365 0; }
.open_hands { background-position: -3397 0; }
.point_up { background-position: -3429 0; }
.point_down { background-position: -3461 0; }
.point_left { background-position: -3493 0; }
.point_right { background-position: -3525 0; }
.raised_hands { background-position: -3557 0; }
.pray { background-position: -3589 0; }
.point_up_2 { background-position: -3621 0; }
.clap { background-position: -3653 0; }
.muscle { background-position: -3685 0; }
.metal { background-position: -3717 0; }
.fu { background-position: -3749 0; }
.walking { background-position: -3781 0; }
.runner { background-position: -3813 0; }
.running { background-position: -3845 0; }
.couple { background-position: -3877 0; }
.family { background-position: -3909 0; }
.two_men_holding_hands { background-position: -3941 0; }
.two_women_holding_hands { background-position: -3973 0; }
.dancer { background-position: -4005 0; }
.dancers { background-position: -4037 0; }
.ok_woman { background-position: -4069 0; }
.no_good { background-position: -4101 0; }
.information_desk_person { background-position: -4133 0; }
.raising_hand { background-position: -4165 0; }
.bride_with_veil { background-position: -4197 0; }
.person_with_pouting_face { background-position: -4229 0; }
.person_frowning { background-position: -4261 0; }
.bow { background-position: -4293 0; }
.couplekiss { background-position: -4325 0; }
.couple_with_heart { background-position: -4357 0; }
.massage { background-position: -4389 0; }
.haircut { background-position: -4421 0; }
.nail_care { background-position: -4453 0; }
.boy { background-position: -4485 0; }
.girl { background-position: -4517 0; }
.woman { background-position: -4549 0; }
.man { background-position: -4581 0; }
.baby { background-position: -4613 0; }
.older_woman { background-position: -4645 0; }
.older_man { background-position: -4677 0; }
.person_with_blond_hair { background-position: -4709 0; }
.man_with_gua_pi_mao { background-position: -4741 0; }
.man_with_turban { background-position: -4773 0; }
.construction_worker { background-position: -4805 0; }
.cop { background-position: -4837 0; }
.angel { background-position: -4869 0; }
.princess { background-position: -4901 0; }
.smiley_cat { background-position: -4933 0; }
.smile_cat { background-position: -4965 0; }
.heart_eyes_cat { background-position: -4997 0; }
.kissing_cat { background-position: -5029 0; }
.smirk_cat { background-position: -5061 0; }
.scream_cat { background-position: -5093 0; }
.crying_cat_face { background-position: -5125 0; }
.joy_cat { background-position: -5157 0; }
.pouting_cat { background-position: -5189 0; }
.japanese_ogre { background-position: -5221 0; }
.japanese_goblin { background-position: -5253 0; }
.see_no_evil { background-position: -5285 0; }
.hear_no_evil { background-position: -5317 0; }
.speak_no_evil { background-position: -5349 0; }
.guardsman { background-position: -5381 0; }
.skull { background-position: -5413 0; }
.feet { background-position: -5445 0; }
.lips { background-position: -5477 0; }
.kiss { background-position: -5509 0; }
.droplet { background-position: -5541 0; }
.ear { background-position: -5573 0; }
.eyes { background-position: -5605 0; }
.nose { background-position: -5637 0; }
.tongue { background-position: -5669 0; }
.love_letter { background-position: -5701 0; }
.bust_in_silhouette { background-position: -5733 0; }
.busts_in_silhouette { background-position: -5765 0; }
.speech_balloon { background-position: -5797 0; }
.thought_balloon { background-position: -5829 0; }
.feelsgood { background-position: -5861 0; }
.finnadie { background-position: -5893 0; }
.goberserk { background-position: -5925 0; }
.godmode { background-position: -5957 0; }
.hurtrealbad { background-position: -5989 0; }
.rage1 { background-position: -6021 0; }
.rage2 { background-position: -6053 0; }
.rage3 { background-position: -6085 0; }
.rage4 { background-position: -6117 0; }
.suspect { background-position: -6149 0; }
.trollface { background-position: -6181 0; }
.sunny { background-position: -6213 0; }
.umbrella { background-position: -6245 0; }
.cloud { background-position: -6277 0; }
.snowflake { background-position: -6309 0; }
.snowman { background-position: -6341 0; }
.zap { background-position: -6373 0; }
.cyclone { background-position: -6405 0; }
.foggy { background-position: -6437 0; }
.ocean { background-position: -6469 0; }
.cat { background-position: -6501 0; }
.dog { background-position: -6533 0; }
.mouse { background-position: -6565 0; }
.hamster { background-position: -6597 0; }
.rabbit { background-position: -6629 0; }
.wolf { background-position: -6661 0; }
.frog { background-position: -6693 0; }
.tiger { background-position: -6725 0; }
.koala { background-position: -6757 0; }
.bear { background-position: -6789 0; }
.pig { background-position: -6821 0; }
.pig_nose { background-position: -6853 0; }
.cow { background-position: -6885 0; }
.boar { background-position: -6917 0; }
.monkey_face { background-position: -6949 0; }
.monkey { background-position: -6981 0; }
.horse { background-position: -7013 0; }
.racehorse { background-position: -7045 0; }
.camel { background-position: -7077 0; }
.sheep { background-position: -7109 0; }
.elephant { background-position: -7141 0; }
.panda_face { background-position: -7173 0; }
.snake { background-position: -7205 0; }
.bird { background-position: -7237 0; }
.baby_chick { background-position: -7269 0; }
.hatched_chick { background-position: -7301 0; }
.hatching_chick { background-position: -7333 0; }
.chicken { background-position: -7365 0; }
.penguin { background-position: -7397 0; }
.turtle { background-position: -7429 0; }
.bug { background-position: -7461 0; }
.honeybee { background-position: -7493 0; }
.ant { background-position: -7525 0; }
.beetle { background-position: -7557 0; }
.snail { background-position: -7589 0; }
.octopus { background-position: -7621 0; }
.tropical_fish { background-position: -7653 0; }
.fish { background-position: -7685 0; }
.whale { background-position: -7717 0; }
.whale2 { background-position: -7749 0; }
.dolphin { background-position: -7781 0; }
.cow2 { background-position: -7813 0; }
.ram { background-position: -7845 0; }
.rat { background-position: -7877 0; }
.water_buffalo { background-position: -7909 0; }
.tiger2 { background-position: -7941 0; }
.rabbit2 { background-position: -7973 0; }
.dragon { background-position: -8005 0; }
.goat { background-position: -8037 0; }
.rooster { background-position: -8069 0; }
.dog2 { background-position: -8101 0; }
.pig2 { background-position: -8133 0; }
.mouse2 { background-position: -8165 0; }
.ox { background-position: -8197 0; }
.dragon_face { background-position: -8229 0; }
.blowfish { background-position: -8261 0; }
.crocodile { background-position: -8293 0; }
.dromedary_camel { background-position: -8325 0; }
.leopard { background-position: -8357 0; }
.cat2 { background-position: -8389 0; }
.poodle { background-position: -8421 0; }
.paw_prints { background-position: -8453 0; }
.bouquet { background-position: -8485 0; }
.cherry_blossom { background-position: -8517 0; }
.tulip { background-position: -8549 0; }
.four_leaf_clover { background-position: -8581 0; }
.rose { background-position: -8613 0; }
.sunflower { background-position: -8645 0; }
.hibiscus { background-position: -8677 0; }
.maple_leaf { background-position: -8709 0; }
.leaves { background-position: -8741 0; }
.fallen_leaf { background-position: -8773 0; }
.herb { background-position: -8805 0; }
.mushroom { background-position: -8837 0; }
.cactus { background-position: -8869 0; }
.palm_tree { background-position: -8901 0; }
.evergreen_tree { background-position: -8933 0; }
.deciduous_tree { background-position: -8965 0; }
.chestnut { background-position: -8997 0; }
.seedling { background-position: -9029 0; }
.blossom { background-position: -9061 0; }
.ear_of_rice { background-position: -9093 0; }
.shell { background-position: -9125 0; }
.globe_with_meridians { background-position: -9157 0; }
.sun_with_face { background-position: -9189 0; }
.full_moon_with_face { background-position: -9221 0; }
.new_moon_with_face { background-position: -9253 0; }
.new_moon { background-position: -9285 0; }
.waxing_crescent_moon { background-position: -9317 0; }
.first_quarter_moon { background-position: -9349 0; }
.waxing_gibbous_moon { background-position: -9381 0; }
.full_moon { background-position: -9413 0; }
.waning_gibbous_moon { background-position: -9445 0; }
.last_quarter_moon { background-position: -9477 0; }
.waning_crescent_moon { background-position: -9509 0; }
.last_quarter_moon_with_face { background-position: -9541 0; }
.first_quarter_moon_with_face { background-position: -9573 0; }
.moon { background-position: -9605 0; }
.earth_africa { background-position: -9637 0; }
.earth_americas { background-position: -9669 0; }
.earth_asia { background-position: -9701 0; }
.volcano { background-position: -9733 0; }
.milky_way { background-position: -9765 0; }
.partly_sunny { background-position: -9797 0; }
.octocat { background-position: -9829 0; }
.squirrel { background-position: -9861 0; }
.bamboo { background-position: -9893 0; }
.gift_heart { background-position: -9925 0; }
.dolls { background-position: -9957 0; }
.school_satchel { background-position: -9989 0; }
.mortar_board { background-position: -10021 0; }
.flags { background-position: -10053 0; }
.fireworks { background-position: -10085 0; }
.sparkler { background-position: -10117 0; }
.wind_chime { background-position: -10149 0; }
.rice_scene { background-position: -10181 0; }
.jack_o_lantern { background-position: -10213 0; }
.ghost { background-position: -10245 0; }
.santa { background-position: -10277 0; }
.christmas_tree { background-position: -10309 0; }
.gift { background-position: -10341 0; }
.bell { background-position: -10373 0; }
.no_bell { background-position: -10405 0; }
.tanabata_tree { background-position: -10437 0; }
.tada { background-position: -10469 0; }
.confetti_ball { background-position: -10501 0; }
.balloon { background-position: -10533 0; }
.crystal_ball { background-position: -10565 0; }
.cd { background-position: -10597 0; }
.dvd { background-position: -10629 0; }
.floppy_disk { background-position: -10661 0; }
.camera { background-position: -10693 0; }
.video_camera { background-position: -10725 0; }
.movie_camera { background-position: -10757 0; }
.computer { background-position: -10789 0; }
.tv { background-position: -10821 0; }
.iphone { background-position: -10853 0; }
.phone { background-position: -10885 0; }
.telephone { background-position: -10917 0; }
.telephone_receiver { background-position: -10949 0; }
.pager { background-position: -10981 0; }
.fax { background-position: -11013 0; }
.minidisc { background-position: -11045 0; }
.vhs { background-position: -11077 0; }
.sound { background-position: -11109 0; }
.speaker { background-position: -11141 0; }
.mute { background-position: -11173 0; }
.loudspeaker { background-position: -11205 0; }
.mega { background-position: -11237 0; }
.hourglass { background-position: -11269 0; }
.hourglass_flowing_sand { background-position: -11301 0; }
.alarm_clock { background-position: -11333 0; }
.watch { background-position: -11365 0; }
.radio { background-position: -11397 0; }
.satellite { background-position: -11429 0; }
.loop { background-position: -11461 0; }
.mag { background-position: -11493 0; }
.mag_right { background-position: -11525 0; }
.unlock { background-position: -11557 0; }
.lock { background-position: -11589 0; }
.lock_with_ink_pen { background-position: -11621 0; }
.closed_lock_with_key { background-position: -11653 0; }
.key { background-position: -11685 0; }
.bulb { background-position: -11717 0; }
.flashlight { background-position: -11749 0; }
.high_brightness { background-position: -11781 0; }
.low_brightness { background-position: -11813 0; }
.electric_plug { background-position: -11845 0; }
.battery { background-position: -11877 0; }
.calling { background-position: -11909 0; }
.email { background-position: -11941 0; }
.mailbox { background-position: -11973 0; }
.postbox { background-position: -12005 0; }
.bath { background-position: -12037 0; }
.bathtub { background-position: -12069 0; }
.shower { background-position: -12101 0; }
.toilet { background-position: -12133 0; }
.wrench { background-position: -12165 0; }
.nut_and_bolt { background-position: -12197 0; }
.hammer { background-position: -12229 0; }
.seat { background-position: -12261 0; }
.moneybag { background-position: -12293 0; }
.yen { background-position: -12325 0; }
.dollar { background-position: -12357 0; }
.pound { background-position: -12389 0; }
.euro { background-position: -12421 0; }
.credit_card { background-position: -12453 0; }
.money_with_wings { background-position: -12485 0; }
.e-mail { background-position: -12517 0; }
.inbox_tray { background-position: -12549 0; }
.outbox_tray { background-position: -12581 0; }
.envelope { background-position: -12613 0; }
.incoming_envelope { background-position: -12645 0; }
.postal_horn { background-position: -12677 0; }
.mailbox_closed { background-position: -12709 0; }
.mailbox_with_mail { background-position: -12741 0; }
.mailbox_with_no_mail { background-position: -12773 0; }
.door { background-position: -12805 0; }
.smoking { background-position: -12837 0; }
.bomb { background-position: -12869 0; }
.gun { background-position: -12901 0; }
.hocho { background-position: -12933 0; }
.pill { background-position: -12965 0; }
.syringe { background-position: -12997 0; }
.page_facing_up { background-position: -13029 0; }
.page_with_curl { background-position: -13061 0; }
.bookmark_tabs { background-position: -13093 0; }
.bar_chart { background-position: -13125 0; }
.chart_with_upwards_trend { background-position: -13157 0; }
.chart_with_downwards_trend { background-position: -13189 0; }
.scroll { background-position: -13221 0; }
.clipboard { background-position: -13253 0; }
.calendar { background-position: -13285 0; }
.date { background-position: -13317 0; }
.card_index { background-position: -13349 0; }
.file_folder { background-position: -13381 0; }
.open_file_folder { background-position: -13413 0; }
.scissors { background-position: -13445 0; }
.pushpin { background-position: -13477 0; }
.paperclip { background-position: -13509 0; }
.black_nib { background-position: -13541 0; }
.pencil2 { background-position: -13573 0; }
.straight_ruler { background-position: -13605 0; }
.triangular_ruler { background-position: -13637 0; }
.closed_book { background-position: -13669 0; }
.green_book { background-position: -13701 0; }
.blue_book { background-position: -13733 0; }
.orange_book { background-position: -13765 0; }
.notebook { background-position: -13797 0; }
.notebook_with_decorative_cover { background-position: -13829 0; }
.ledger { background-position: -13861 0; }
.books { background-position: -13893 0; }
.bookmark { background-position: -13925 0; }
.name_badge { background-position: -13957 0; }
.microscope { background-position: -13989 0; }
.telescope { background-position: -14021 0; }
.newspaper { background-position: -14053 0; }
.football { background-position: -14085 0; }
.basketball { background-position: -14117 0; }
.soccer { background-position: -14149 0; }
.baseball { background-position: -14181 0; }
.tennis { background-position: -14213 0; }
.8ball { background-position: -14245 0; }
.rugby_football { background-position: -14277 0; }
.bowling { background-position: -14309 0; }
.golf { background-position: -14341 0; }
.mountain_bicyclist { background-position: -14373 0; }
.bicyclist { background-position: -14405 0; }
.horse_racing { background-position: -14437 0; }
.snowboarder { background-position: -14469 0; }
.swimmer { background-position: -14501 0; }
.surfer { background-position: -14533 0; }
.ski { background-position: -14565 0; }
.spades { background-position: -14597 0; }
.hearts { background-position: -14629 0; }
.clubs { background-position: -14661 0; }
.diamonds { background-position: -14693 0; }
.gem { background-position: -14725 0; }
.ring { background-position: -14757 0; }
.trophy { background-position: -14789 0; }
.musical_score { background-position: -14821 0; }
.musical_keyboard { background-position: -14853 0; }
.violin { background-position: -14885 0; }
.space_invader { background-position: -14917 0; }
.video_game { background-position: -14949 0; }
.black_joker { background-position: -14981 0; }
.flower_playing_cards { background-position: -15013 0; }
.game_die { background-position: -15045 0; }
.dart { background-position: -15077 0; }
.mahjong { background-position: -15109 0; }
.clapper { background-position: -15141 0; }
.memo { background-position: -15173 0; }
.pencil { background-position: -15205 0; }
.book { background-position: -15237 0; }
.art { background-position: -15269 0; }
.microphone { background-position: -15301 0; }
.headphones { background-position: -15333 0; }
.trumpet { background-position: -15365 0; }
.saxophone { background-position: -15397 0; }
.guitar { background-position: -15429 0; }
.shoe { background-position: -15461 0; }
.sandal { background-position: -15493 0; }
.high_heel { background-position: -15525 0; }
.lipstick { background-position: -15557 0; }
.boot { background-position: -15589 0; }
.shirt { background-position: -15621 0; }
.tshirt { background-position: -15653 0; }
.necktie { background-position: -15685 0; }
.womans_clothes { background-position: -15717 0; }
.dress { background-position: -15749 0; }
.running_shirt_with_sash { background-position: -15781 0; }
.jeans { background-position: -15813 0; }
.kimono { background-position: -15845 0; }
.bikini { background-position: -15877 0; }
.ribbon { background-position: -15909 0; }
.tophat { background-position: -15941 0; }
.crown { background-position: -15973 0; }
.womans_hat { background-position: -16005 0; }
.mans_shoe { background-position: -16037 0; }
.closed_umbrella { background-position: -16069 0; }
.briefcase { background-position: -16101 0; }
.handbag { background-position: -16133 0; }
.pouch { background-position: -16165 0; }
.purse { background-position: -16197 0; }
.eyeglasses { background-position: -16229 0; }
.fishing_pole_and_fish { background-position: -16261 0; }
.coffee { background-position: -16293 0; }
.tea { background-position: -16325 0; }
.sake { background-position: -16357 0; }
.baby_bottle { background-position: -16389 0; }
.beer { background-position: -16421 0; }
.beers { background-position: -16453 0; }
.cocktail { background-position: -16485 0; }
.tropical_drink { background-position: -16517 0; }
.wine_glass { background-position: -16549 0; }
.fork_and_knife { background-position: -16581 0; }
.pizza { background-position: -16613 0; }
.hamburger { background-position: -16645 0; }
.fries { background-position: -16677 0; }
.poultry_leg { background-position: -16709 0; }
.meat_on_bone { background-position: -16741 0; }
.spaghetti { background-position: -16773 0; }
.curry { background-position: -16805 0; }
.fried_shrimp { background-position: -16837 0; }
.bento { background-position: -16869 0; }
.sushi { background-position: -16901 0; }
.fish_cake { background-position: -16933 0; }
.rice_ball { background-position: -16965 0; }
.rice_cracker { background-position: -16997 0; }
.rice { background-position: -17029 0; }
.ramen { background-position: -17061 0; }
.stew { background-position: -17093 0; }
.oden { background-position: -17125 0; }
.dango { background-position: -17157 0; }
.egg { background-position: -17189 0; }
.bread { background-position: -17221 0; }
.doughnut { background-position: -17253 0; }
.custard { background-position: -17285 0; }
.icecream { background-position: -17317 0; }
.ice_cream { background-position: -17349 0; }
.shaved_ice { background-position: -17381 0; }
.birthday { background-position: -17413 0; }
.cake { background-position: -17445 0; }
.cookie { background-position: -17477 0; }
.chocolate_bar { background-position: -17509 0; }
.candy { background-position: -17541 0; }
.lollipop { background-position: -17573 0; }
.honey_pot { background-position: -17605 0; }
.apple { background-position: -17637 0; }
.green_apple { background-position: -17669 0; }
.tangerine { background-position: -17701 0; }
.lemon { background-position: -17733 0; }
.cherries { background-position: -17765 0; }
.grapes { background-position: -17797 0; }
.watermelon { background-position: -17829 0; }
.strawberry { background-position: -17861 0; }
.peach { background-position: -17893 0; }
.melon { background-position: -17925 0; }
.banana { background-position: -17957 0; }
.pear { background-position: -17989 0; }
.pineapple { background-position: -18021 0; }
.sweet_potato { background-position: -18053 0; }
.eggplant { background-position: -18085 0; }
.tomato { background-position: -18117 0; }
.corn { background-position: -18149 0; }
.house { background-position: -18181 0; }
.house_with_garden { background-position: -18213 0; }
.school { background-position: -18245 0; }
.office { background-position: -18277 0; }
.post_office { background-position: -18309 0; }
.hospital { background-position: -18341 0; }
.bank { background-position: -18373 0; }
.convenience_store { background-position: -18405 0; }
.love_hotel { background-position: -18437 0; }
.hotel { background-position: -18469 0; }
.wedding { background-position: -18501 0; }
.church { background-position: -18533 0; }
.department_store { background-position: -18565 0; }
.european_post_office { background-position: -18597 0; }
.city_sunrise { background-position: -18629 0; }
.city_sunset { background-position: -18661 0; }
.japanese_castle { background-position: -18693 0; }
.european_castle { background-position: -18725 0; }
.tent { background-position: -18757 0; }
.factory { background-position: -18789 0; }
.tokyo_tower { background-position: -18821 0; }
.japan { background-position: -18853 0; }
.mount_fuji { background-position: -18885 0; }
.sunrise_over_mountains { background-position: -18917 0; }
.sunrise { background-position: -18949 0; }
.stars { background-position: -18981 0; }
.statue_of_liberty { background-position: -19013 0; }
.bridge_at_night { background-position: -19045 0; }
.carousel_horse { background-position: -19077 0; }
.rainbow { background-position: -19109 0; }
.ferris_wheel { background-position: -19141 0; }
.fountain { background-position: -19173 0; }
.roller_coaster { background-position: -19205 0; }
.ship { background-position: -19237 0; }
.speedboat { background-position: -19269 0; }
.boat { background-position: -19301 0; }
.sailboat { background-position: -19333 0; }
.rowboat { background-position: -19365 0; }
.anchor { background-position: -19397 0; }
.rocket { background-position: -19429 0; }
.airplane { background-position: -19461 0; }
.helicopter { background-position: -19493 0; }
.steam_locomotive { background-position: -19525 0; }
.tram { background-position: -19557 0; }
.mountain_railway { background-position: -19589 0; }
.bike { background-position: -19621 0; }
.aerial_tramway { background-position: -19653 0; }
.suspension_railway { background-position: -19685 0; }
.mountain_cableway { background-position: -19717 0; }
.tractor { background-position: -19749 0; }
.blue_car { background-position: -19781 0; }
.oncoming_automobile { background-position: -19813 0; }
.car { background-position: -19845 0; }
.red_car { background-position: -19877 0; }
.taxi { background-position: -19909 0; }
.oncoming_taxi { background-position: -19941 0; }
.articulated_lorry { background-position: -19973 0; }
.bus { background-position: -20005 0; }
.oncoming_bus { background-position: -20037 0; }
.rotating_light { background-position: -20069 0; }
.police_car { background-position: -20101 0; }
.oncoming_police_car { background-position: -20133 0; }
.fire_engine { background-position: -20165 0; }
.ambulance { background-position: -20197 0; }
.minibus { background-position: -20229 0; }
.truck { background-position: -20261 0; }
.train { background-position: -20293 0; }
.station { background-position: -20325 0; }
.train2 { background-position: -20357 0; }
.bullettrain_front { background-position: -20389 0; }
.bullettrain_side { background-position: -20421 0; }
.light_rail { background-position: -20453 0; }
.monorail { background-position: -20485 0; }
.railway_car { background-position: -20517 0; }
.trolleybus { background-position: -20549 0; }
.ticket { background-position: -20581 0; }
.fuelpump { background-position: -20613 0; }
.vertical_traffic_light { background-position: -20645 0; }
.traffic_light { background-position: -20677 0; }
.warning { background-position: -20709 0; }
.construction { background-position: -20741 0; }
.beginner { background-position: -20773 0; }
.atm { background-position: -20805 0; }
.slot_machine { background-position: -20837 0; }
.busstop { background-position: -20869 0; }
.barber { background-position: -20901 0; }
.hotsprings { background-position: -20933 0; }
.checkered_flag { background-position: -20965 0; }
.crossed_flags { background-position: -20997 0; }
.izakaya_lantern { background-position: -21029 0; }
.moyai { background-position: -21061 0; }
.circus_tent { background-position: -21093 0; }
.performing_arts { background-position: -21125 0; }
.round_pushpin { background-position: -21157 0; }
.triangular_flag_on_post { background-position: -21189 0; }
.jp { background-position: -21221 0; }
.kr { background-position: -21253 0; }
.cn { background-position: -21285 0; }
.us { background-position: -21317 0; }
.fr { background-position: -21349 0; }
.es { background-position: -21381 0; }
.it { background-position: -21413 0; }
.ru { background-position: -21445 0; }
.gb { background-position: -21477 0; }
.uk { background-position: -21509 0; }
.de { background-position: -21541 0; }
.one { background-position: -21573 0; }
.two { background-position: -21605 0; }
.three { background-position: -21637 0; }
.four { background-position: -21669 0; }
.five { background-position: -21701 0; }
.six { background-position: -21733 0; }
.seven { background-position: -21765 0; }
.eight { background-position: -21797 0; }
.nine { background-position: -21829 0; }
.keycap_ten { background-position: -21861 0; }
.1234 { background-position: -21893 0; }
.zero { background-position: -21925 0; }
.hash { background-position: -21957 0; }
.symbols { background-position: -21989 0; }
.arrow_backward { background-position: -22021 0; }
.arrow_down { background-position: -22053 0; }
.arrow_forward { background-position: -22085 0; }
.arrow_left { background-position: -22117 0; }
.capital_abcd { background-position: -22149 0; }
.abcd { background-position: -22181 0; }
.abc { background-position: -22213 0; }
.arrow_lower_left { background-position: -22245 0; }
.arrow_lower_right { background-position: -22277 0; }
.arrow_right { background-position: -22309 0; }
.arrow_up { background-position: -22341 0; }
.arrow_upper_left { background-position: -22373 0; }
.arrow_upper_right { background-position: -22405 0; }
.arrow_double_down { background-position: -22437 0; }
.arrow_double_up { background-position: -22469 0; }
.arrow_down_small { background-position: -22501 0; }
.arrow_heading_down { background-position: -22533 0; }
.arrow_heading_up { background-position: -22565 0; }
.leftwards_arrow_with_hook { background-position: -22597 0; }
.arrow_right_hook { background-position: -22629 0; }
.left_right_arrow { background-position: -22661 0; }
.arrow_up_down { background-position: -22693 0; }
.arrow_up_small { background-position: -22725 0; }
.arrows_clockwise { background-position: -22757 0; }
.arrows_counterclockwise { background-position: -22789 0; }
.rewind { background-position: -22821 0; }
.fast_forward { background-position: -22853 0; }
.information_source { background-position: -22885 0; }
.ok { background-position: -22917 0; }
.twisted_rightwards_arrows { background-position: -22949 0; }
.repeat { background-position: -22981 0; }
.repeat_one { background-position: -23013 0; }
.new { background-position: -23045 0; }
.top { background-position: -23077 0; }
.up { background-position: -23109 0; }
.cool { background-position: -23141 0; }
.free { background-position: -23173 0; }
.ng { background-position: -23205 0; }
.cinema { background-position: -23237 0; }
.koko { background-position: -23269 0; }
.signal_strength { background-position: -23301 0; }
.u5272 { background-position: -23333 0; }
.u5408 { background-position: -23365 0; }
.u55b6 { background-position: -23397 0; }
.u6307 { background-position: -23429 0; }
.u6708 { background-position: -23461 0; }
.u6709 { background-position: -23493 0; }
.u6e80 { background-position: -23525 0; }
.u7121 { background-position: -23557 0; }
.u7533 { background-position: -23589 0; }
.u7a7a { background-position: -23621 0; }
.u7981 { background-position: -23653 0; }
.sa { background-position: -23685 0; }
.restroom { background-position: -23717 0; }
.mens { background-position: -23749 0; }
.womens { background-position: -23781 0; }
.baby_symbol { background-position: -23813 0; }
.no_smoking { background-position: -23845 0; }
.parking { background-position: -23877 0; }
.wheelchair { background-position: -23909 0; }
.metro { background-position: -23941 0; }
.baggage_claim { background-position: -23973 0; }
.accept { background-position: -24005 0; }
.wc { background-position: -24037 0; }
.potable_water { background-position: -24069 0; }
.put_litter_in_its_place { background-position: -24101 0; }
.secret { background-position: -24133 0; }
.congratulations { background-position: -24165 0; }
.m { background-position: -24197 0; }
.passport_control { background-position: -24229 0; }
.left_luggage { background-position: -24261 0; }
.customs { background-position: -24293 0; }
.ideograph_advantage { background-position: -24325 0; }
.cl { background-position: -24357 0; }
.sos { background-position: -24389 0; }
.id { background-position: -24421 0; }
.no_entry_sign { background-position: -24453 0; }
.underage { background-position: -24485 0; }
.no_mobile_phones { background-position: -24517 0; }
.do_not_litter { background-position: -24549 0; }
.non-potable_water { background-position: -24581 0; }
.no_bicycles { background-position: -24613 0; }
.no_pedestrians { background-position: -24645 0; }
.children_crossing { background-position: -24677 0; }
.no_entry { background-position: -24709 0; }
.eight_spoked_asterisk { background-position: -24741 0; }
.eight_pointed_black_star { background-position: -24773 0; }
.heart_decoration { background-position: -24805 0; }
.vs { background-position: -24837 0; }
.vibration_mode { background-position: -24869 0; }
.mobile_phone_off { background-position: -24901 0; }
.chart { background-position: -24933 0; }
.currency_exchange { background-position: -24965 0; }
.aries { background-position: -24997 0; }
.taurus { background-position: -25029 0; }
.gemini { background-position: -25061 0; }
.cancer { background-position: -25093 0; }
.leo { background-position: -25125 0; }
.virgo { background-position: -25157 0; }
.libra { background-position: -25189 0; }
.scorpius { background-position: -25221 0; }
.sagittarius { background-position: -25253 0; }
.capricorn { background-position: -25285 0; }
.aquarius { background-position: -25317 0; }
.pisces { background-position: -25349 0; }
.ophiuchus { background-position: -25381 0; }
.six_pointed_star { background-position: -25413 0; }
.negative_squared_cross_mark { background-position: -25445 0; }
.a { background-position: -25477 0; }
.b { background-position: -25509 0; }
.ab { background-position: -25541 0; }
.o2 { background-position: -25573 0; }
.diamond_shape_with_a_dot_inside { background-position: -25605 0; }
.recycle { background-position: -25637 0; }
.end { background-position: -25669 0; }
.on { background-position: -25701 0; }
.soon { background-position: -25733 0; }
.clock1 { background-position: -25765 0; }
.clock130 { background-position: -25797 0; }
.clock10 { background-position: -25829 0; }
.clock1030 { background-position: -25861 0; }
.clock11 { background-position: -25893 0; }
.clock1130 { background-position: -25925 0; }
.clock12 { background-position: -25957 0; }
.clock1230 { background-position: -25989 0; }
.clock2 { background-position: -26021 0; }
.clock230 { background-position: -26053 0; }
.clock3 { background-position: -26085 0; }
.clock330 { background-position: -26117 0; }
.clock4 { background-position: -26149 0; }
.clock430 { background-position: -26181 0; }
.clock5 { background-position: -26213 0; }
.clock530 { background-position: -26245 0; }
.clock6 { background-position: -26277 0; }
.clock630 { background-position: -26309 0; }
.clock7 { background-position: -26341 0; }
.clock730 { background-position: -26373 0; }
.clock8 { background-position: -26405 0; }
.clock830 { background-position: -26437 0; }
.clock9 { background-position: -26469 0; }
.clock930 { background-position: -26501 0; }
.heavy_dollar_sign { background-position: -26533 0; }
.copyright { background-position: -26565 0; }
.registered { background-position: -26597 0; }
.tm { background-position: -26629 0; }
.x { background-position: -26661 0; }
.heavy_exclamation_mark { background-position: -26693 0; }
.bangbang { background-position: -26725 0; }
.interrobang { background-position: -26757 0; }
.o { background-position: -26789 0; }
.heavy_multiplication_x { background-position: -26821 0; }
.heavy_plus_sign { background-position: -26853 0; }
.heavy_minus_sign { background-position: -26885 0; }
.heavy_division_sign { background-position: -26917 0; }
.white_flower { background-position: -26949 0; }
.100 { background-position: -26981 0; }
.heavy_check_mark { background-position: -27013 0; }
.ballot_box_with_check { background-position: -27045 0; }
.radio_button { background-position: -27077 0; }
.link { background-position: -27109 0; }
.curly_loop { background-position: -27141 0; }
.wavy_dash { background-position: -27173 0; }
.part_alternation_mark { background-position: -27205 0; }
.trident { background-position: -27237 0; }
.black_square { background-position: -27269 0; }
.white_square { background-position: -27301 0; }
.white_check_mark { background-position: -27333 0; }
.black_square_button { background-position: -27365 0; }
.white_square_button { background-position: -27397 0; }
.black_circle { background-position: -27429 0; }
.white_circle { background-position: -27461 0; }
.red_circle { background-position: -27493 0; }
.large_blue_circle { background-position: -27525 0; }
.large_blue_diamond { background-position: -27557 0; }
.large_orange_diamond { background-position: -27589 0; }
.small_blue_diamond { background-position: -27621 0; }
.small_orange_diamond { background-position: -27653 0; }
.small_red_triangle { background-position: -27685 0; }
.small_red_triangle_down { background-position: -27717 0; }
.shipit { background-position: -27749 0; }
